body{
    display: flex;
    align-items: center;
    font-size: 30px;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    background: rgb(159, 193, 246)
}

.container{
    padding: 10px 20px;
    border: 1px solid gray;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

input, label{
    display: none;
}

@media  screen and(min-wight:450px) {
    select {
        display: none;
    }
    label{
        display: inline;
    }
    input:checked+label {
        background: rgb(159, 193, 246);
        color: white;
    }    
}